@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ProfileViewModel>

@using Umbraco9Membership.Models.ViewModels;

@if (!User.Identity.IsAuthenticated)
{
    <div class="row">
        <div class="col-12 text-center">
            <p>You need to be logged in before you view your profile. <a href="/login/">Login</a></p>
        </div>
    </div>
}
else
{
    <dl>
        <dt>Avatar:</dt>
        <dd><img class="rounded" src="@(Model.Avatar?.GetCropUrl(120,120) ?? "")" /></dd>
        <dt>First Name:</dt>
        <dd>@Model.FirstName</dd>
        <dt>Last Name:</dt>
        <dd>@Model.LastName</dd>
        <dt>Job Title:</dt>
        <dd>@Model.JobTitle</dd>
        <dt>Email:</dt>
        <dd>@Model.Email</dd>
        <dt>Skills:</dt>
        <dd>
            @if (Model.Skills != null && Model.Skills.Any())
            {
                <ul>
                    @foreach (var skill in Model.Skills)
                    {
                        <li>@skill</li>
                    }
                </ul>
            }
        </dd>
        <dt>Favourite Colour:</dt>
        <dd>@Model.FavouriteColour</dd>
        <dt>Gallery</dt>
        <dd>
            @if (Model.Gallery != null && Model.Gallery.Any())
            {
                foreach (var item in Model.Gallery)
                {
                    <img src="@item.GetCropUrl(120,120)" alt="@item.Name"/>
                }
            }
        </dd>
    </dl>

    <a href="/edit-profile/">Edit profile</a>    
}